# Python virtual environment
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment files
.env

# IDE-specific files
.vscode/
.idea/

# Logs
*.log

# Backup files
*.bak

# Database configuration
backend/vacation_service/db_config.py
backend/vacation_service/db_settings.py
backend/db.sqlite3
